body{
  background-color:rgb(219, 219, 228);
  
}
/* Navbar */
nav {
  background-color: #0a0a0a;
}

.navbar {
  width: 1412px;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #FFFFFF;

}

.logo h1 {
    margin-left: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 40px;
  
}

.buttons {
  display: flex;

}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.register-btn, .signin-btn {
  font-size: 20px;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
}

.register-btn {
  background-color: #FFB10A;
  margin-right: 20px;

}

.signin-btn {
  background-color: #FFB10A;
  margin-right: 90px;

}
.login-container {
    width: 400px;
    margin: auto;
    padding-top: 5px;
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 5px;

  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 400px;
    height: 70px;
    padding: 5px;
  }
  
  .forgot-password-btn {
    width: 160px;
    height: 25px;
    background-color: #FFB10A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
    }
  
  
  .login-btn {
    width: 65px;
    height: 35px;
    background-color: #FFB10A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 00px;
    cursor: pointer;
  }
  
  .sign_up-btn {
    width: 65px;
    height: 25px;
    background-color: #FFB10A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }
  .reset-password-container {
    width: 400px;
    height: 210px;
    margin: auto;
    padding-top: 5px;
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 5px;
  }

    #footer {
      background-color: #003399;
      color: #ffffff;
      text-align: center;
      padding: 20px;
      bottom: auto;
    }
    
    #content {
      max-width: 800px;
      margin: 20px auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
      margin: 0;
      font-size: 24px;
      display: inline-flex;
    }
    h2{
      color: #003399;
      text-transform: capitalize;
    }
    p {
      margin-top: 10px;
    }
    
    .section {
      margin-bottom: 20px;
     
    }
    
    /* Style buttons */
    .btn{
      background-color: dodgerblue;
      border: none;
      color: white;
      padding: 12px 30px;
      cursor: pointer;
      font-size: 20px;
    }
    .btn:hover{
      background-color: royalblue;
    }
    
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="email"] {
    width: 400px;
    height: 50px;
    padding: 10px;
  }
  
  .submit-btn {
    width: 200px;
    height: 50px;
    background-color: #FFB10A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  .register-container {
    width: 400px;
    margin: auto;
    padding-top: 5px;
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 400px;
    height: 40aapx;
    padding: 10px;
  }
  
  .error-message {
    color: red;
  }
  
  .submit-btn {
    width: 100px;
    height: 40px;
    border: none;
    background-color: #FFB10A;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }
  .particulars-container {
    width: 400px;
    margin: auto;
    padding-top: 5px;
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  
  input[type="text"],
  input[type="date"],
  select,
  input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .submit-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-btn button {
    width: 100%;
    height: 40px;
    background-color: #FFB10A;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
  }
  .particulars-container {
    width: 400px;
    margin: auto;
    padding-top: 100px;
  }
  
  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .submit-btn {
    text-align: center;
    margin-top: 20px;
  }
  
  .submit-btn button {
    width: 100%;
    height: 40px;
    background-color: #FFB10A;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
  }
  */ forgot passwors button style*/
  .forgot-password {
    margin-top: 10px;
  }
  
  .forgot-password button {
    background-color: #FFB10A;
    border: none;
    color: #da1b1b;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  
  .forgot-password button a {
    color: #b91515;
    text-decoration: none;
  }

  */ sign up button style*/
  .sign-up {
    margin-top: 10px;
  }
  .sign-up button {
    background-color: #FFB10A;
    border: none;
    color: #da1b1b;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .sign-up button a {
    color: #b91515;
    text-decoration: none;
  }
  .contactus {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .contact-info p {
      margin-bottom: 10px;
    }

    .email-link,
    .tel-link {
      color: #000;
      text-decoration: none;
    }

    .email-link:hover,
    .tel-link:hover {
      text-decoration: underline;
    }
    #terms {
      max-width: 500px;
      margin-bottom: 20px;
    }
    
    button {
      margin-top: 20px;
    }
    #terms {
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #f9f9f9;
    }
    
    #terms p {
      margin-bottom: 10px;
    }
    
    label {
      display: inline block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
   .download-button{
    background-color: yellow;
    color:black;
    padding:10px 20px;
    text-decoration: none;
    display:inline-block;
   }
   
  
        




